@model IEnumerable<AlytaloWebSovellus.Models.TalonSaunat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SaunaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaunaTavoiteLampoTila)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaunaNykyLampoTila)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaunanNimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaivaMaara)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaunanTila)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SaunaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaunaTavoiteLampoTila)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaunaNykyLampoTila)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaunanNimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaivaMaara)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaunanTila)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SaunaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SaunaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SaunaId })
        </td>
    </tr>
}

</table>
