@model IEnumerable<AlytaloWebSovellus.Models.TalonLammot>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HuoneId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Huone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TavoiteLampoTila)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TalonNykyLampoTila)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaivaMaara)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HuoneId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Huone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TavoiteLampoTila)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TalonNykyLampoTila)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaivaMaara)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HuoneId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HuoneId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HuoneId })
        </td>
    </tr>
}

</table>
